/* ------------------- ID -------------------------- */

#Area {
    min-height: 200px;
    max-height: 200px;
}

#boutonEnvoyer {
    margin-top: 30px;
    border: 2px solid white;
}

/* ------------------- Class ----------------------- */

.form-control {
    border-radius: 15px;
}




.copyright {
    font-weight: bold;
    font-size: 1.2em;
}

/* ------------------- Main ------------------------ */


body {
    background: #EFD0EF;
    margin: 0;
    text-align: justify;
    padding: 0;
}

table {
    border: 4px #433A55 outset;

    border-radius: 13px;
    padding: 1.5em;
}

td {
    width: auto;
}

footer div {
    color: #EFD0EF;
}

footer a {
    color: #EFD0EF;
}
