
/* ------------------------------------ Medias ------------------------- */

.elements {

    border: 6px darkslategray inset;
    border-radius: 16px;
    margin : 1vw;
    }

@media (min-width: 576px) {
    .elements {
    }
}

video {
    width: 70%;
    box-shadow: 8px 12px 14px black;
    border-radius: 15px;

}


@media (min-width: 576px) {
    video {
        width: 35%;
        box-shadow: 8px 12px 14px black;
        border-radius: 15px;
    }
}

#contFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    }


@media (min-width: 576px) {
    #contFooter {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-left: 20em;
    }
}



/* -------------------------- CLASS -------------------------------   */


.foot {
    text-align: center;
    font-weight: bold;
    color: #7A96AB;
}

.card-title {
    margin-top: 2vh;
}

/* --------------- COOKIES ---------------------- */

.container {
    padding: 2rem 0rem;
}

.modal-dialog {
    margin-top: 0rem;
    max-width: 100%;
}
.modal-content {
    border-radius: 0rem;
}

.buttons {
    margin: 0.2rem;
}


.btn {
    margin: 0.2rem;
}




/* ------------------------------- MAIN ----------------------------- */


footer a {
    color: #EFD0EF;
}


h1, h2, h3, a, p {
    font-weight: bold;
}

h2 {
    margin-bottom: 3.5vh;
}

footer {
    background: #433A55;
}

header {
    background: #433A55;
}

txtFoot {
    text-align: center;
    align-content: center;
    align-items: center;
}

/* ------------------------------------- Javascript ------------------------------- */

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    }

.ml15 .word {
    display: inline-block;
    line-height: 1em;
    }




