/* ---------------------------- ID --------------------------------*/
#projet1 {
    width: 80%;
}

/* ---------------------------- CLASS -----------------------------*/

.texte_projets {
    text-align: center;
    font-weight: bold;
}

.titreProjets {
    color: #EFD0EF;
}

/* ---------------------------- MAIN ------------------------------*/


html {
    height: 100%;
}


header {
    background: #433A55;
}

footer {
    background: #433A55;
    position: absolute;
    bottom: 0; left: 0; right: 0
}

body {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #7A96AB;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #EFD0EF;
}

p {
    font-weight: bold;
    font-size: larger;
}

h1, p {
    text-align: center;
    font-family: Arial;
}

h1 {
    margin-top: 8vh;
    font-size: 3em;
    padding: 2em;
    background: #433A55

}

img {
    margin: 4em;
    margin-bottom: 10em;
    border-radius: 15px;
}

