
/*----------------------------------------- ID -----------------------------------*/

#contPresent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgCA {
    width: 95%;
    border-radius: 20px;
    box-shadow: 8px 12px 14px black;
}

/*----------------------------------------- CLASS -----------------------------------*/

.div1 {
    background: #433A55;
    width: 78%;
    padding: 1.2em;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border-radius: 20px;
    box-shadow: 8px 12px 14px black;

}


/*----------------------------------------- BODY -----------------------------------*/

main {
    text-align: center;
    align-items: center;
    align-content: center;
}

footer a {
    color: #EFD0EF;
}

footer {
    background: #433A55;
    margin-top: 20%;
}

header {
    background: #433A55;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 1.5em;


}

h1 {

    font-size: 3em;
    color: whitesmoke;
}

h2 {
    font-size: 2em;
    color: #866CAC;
}

h3 {
    font-size: 3em;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color: whitesmoke;
}

img {
    width: 18em;
    border-radius: 20px;
    margin-top: 4vh;
    margin-bottom: 6vh;
    box-shadow: 8px 12px 14px black;
}


/* --------------------------------------- MEDIA ---------------------------------*/


#contFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}


@media (min-width: 576px) {
    #contFooter {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-left: 20em;
    }
}


.div1 {
    padding: 1em;
}


@media (min-width: 576px) {
    .div1 {
        padding: 5em;
    }
}


h1 {
    font-size: 2em;
}


@media (min-width: 576px) {
    h1 {
        font-size: 3em;
    }
}

#imgCA {
    width: 98%;
}


@media (min-width: 576px) {
    #imgCA {
        width: 50%;
    }
}

