/* ---------------------------------------- @MEDIA ------------------ */

#container_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    #container_card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        align-items: center;
    }
}

/* ------------------------ */

#container_card2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media (min-width: 576px) {
    #container_card2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
/* ------------------------ */




/* ------------------------ ID    ------------------------------ */



/* ------------------------ CLASS ------------------------------ */



/* ------------------------ MAIN ------------------------------ */

body {
    background: #7A96AB;

}

footer {
    background: #433A55;
}

header {
    background: #433A55;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* --------------------- Cards ------------------------------ */

:root {
    --size: 400px;
    --blue: #aad5ff;
    --lb: rgba(0, 0, 0, 0.5);
}
/*
body {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    background-color: var(--blue);
    color: cornsilk;
    font-family: "Roboto Condensed", sans-serif;
}
*/

.pProjets {
    font-weight: bold;
    color: dark;
    width: 15em;
    margin-left: 18%;

}

.container {
    width: var(--size);
    height: var(--size);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, .7));
}
.productImage {
    grid-column: 1/span 2;
    grid-row: 1 /span 2;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    clip-path: polygon(
            20% 20%,
            50% 20%,
            50% 20%,
            80% 20%,
            80% 50%,
            80% 50%,
            80% 80%,
            50% 80%,
            50% 80%,
            20% 80%,
            20% 50%,
            20% 50%
    );
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.elem1 {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/31/15/13/apps-2558373_1280.jpg);
    background-color: #148bff;
}

.elem2 {
    background-image: url(https://cdn.pixabay.com/photo/2019/02/16/16/12/coming-soon-4000552_1280.png);
    background-color: #148bff;
}

.elem3 {
    background-image: url(https://cdn-istoedinheiro-ssl.akamaized.net/wp-content/uploads/sites/17/2019/07/aplicativos-2.jpg);
    background-color: #148bff;
}

.shoeImg {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg);
    background-color: #148bff;
}

.shoeImg {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg);
    background-color: #148bff;
}

.shoeImg {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg);
    background-color: #148bff;
}

.shoeImg {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg);
    background-color: #148bff;
}




.shirtImg {
    background-image: url(https://cdn.pixabay.com/photo/2018/10/21/10/13/technology-3762558_1280.jpg);
    background-color: #aace29;
}
h4,
ul,
span {
    padding: 0;
    margin: 0;
}
.size,
.color {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.size ul li,
.color ul li {
    list-style: none;
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.color {
    grid-column: 2;
    grid-row: 2;
}
.color ul li span {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    display: inline-block;
}
.red {
    background-color: red;
}
.yellow {
    background-color: greenyellow;
}
.blue {
    background-color: #0070ee;
}
.price {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.price h4 {
    margin-bottom: 8px;
}
.price span {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.productName {
    color: whitesmoke;
    padding-left: 3em;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    z-index: 1;
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.productImage:hover {
    clip-path: polygon(
            20% 0%,
            50% 0%,
            50% 20%,
            100% 20%,
            100% 50%,
            80% 50%,
            80% 100%,
            50% 100%,
            50% 80%,
            0% 80%,
            0% 50%,
            20% 50%
    );
    transform: rotate(-15deg);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.productImage:hover ~ * {
    opacity: 1;
    transform: rotate(-15deg);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.credits{
    color:white;
    font-size: 1.2rem;
    grid-column: 1 / -1 ;
    justify-self: center;
    text-align: center;
}

/* ------------------------ Cards End ------------------------------- */