.card-header {
    background: #433A55;
}


.card, img {
    box-shadow: 8px 12px 14px dimgrey;
}




* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*
html {
    height: 100%;
}

*/

header {
    background: #433A55;
}


body {
    background: #FFE4FF;
}


footer div {
    color: #EFD0EF;
}

footer a {
    color: #EFD0EF;
}


footer {
    background: #433A55;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    font-size: 350%;
    margin: 5vh;
    margin-top: 10vh;
}

section h3 {
    font-family: 'Squada One', cursive;
    color: whitesmoke;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 250%;
}

h5 {
    color: #5a6268;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    font-family: 'Squada One', cursive;
}

h6 {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Squada One', cursive;
}

th, td {
    font-size: 180%;
}

img {
    border-radius: 20px;
}

img:hover {
    box-shadow: 8px 12px 14px dimgrey;
}

div p {
    font-style: italic;
}

section